In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('reorganised_data.csv',index_col=0)

In [13]:
df.head()

,ID,Treatment,Gender,Visit,Age,BMI,weight,Race,Country,UCS,...,weight3,UCS1,UCS2,UCS3,ECS1,ECS2,ECS3,RCS1,RCS2,RCS3
0,1,A,Male,0,14,28.296901,121.403843,Caucasian,USA,17.189710,...,85.777106,13.256006,10.928215,8.457420,14.857301,13.269463,10.078863,19.139352,17.696518,14.638157
1,2,A,Male,0,17,27.437996,123.189625,Asian,China,15.371139,...,85.710171,13.310631,10.371393,8.100437,14.124500,13.534634,8.932013,15.455498,14.773833,13.939726
2,3,A,Male,0,14,27.031513,121.944314,Latin American,Brazil,16.438826,...,85.171849,12.824768,9.207330,9.910369,13.154488,11.974592,10.443128,19.861762,16.908423,15.110985
3,4,A,Male,0,17,26.222483,121.478258,African,Cook Islands,16.065062,...,84.005134,11.948608,9.822042,10.381221,13.069397,13.195750,9.645759,16.492588,16.127524,14.854376
4,5,A,Male,0,18,26.432980,118.610875,Asian,China,17.219120,...,78.648703,14.026986,11.118261,8.919035,13.660977,12.565135,9.212469,16.543592,15.179690,15.273622

In [14]:
df.columns

Index(['ID', 'Treatment', 'Gender', 'Visit', 'Age', 'BMI', 'weight', 'Race',
       'Country', 'UCS', 'ECS', 'RCS', 'MedIncome', 'BMI1', 'BMI2', 'BMI3',
       'weight1', 'weight2', 'weight3', 'UCS1', 'UCS2', 'UCS3', 'ECS1', 'ECS2',
       'ECS3', 'RCS1', 'RCS2', 'RCS3'],
      dtype='object')

In [16]:
names = ['BMI', 'weight', 'UCS', 'ECS', 'RCS']
changes = ['BMI1', 'BMI2', 'BMI3',
       'weight1', 'weight2', 'weight3', 'UCS1', 'UCS2', 'UCS3', 'ECS1', 'ECS2',
       'ECS3', 'RCS1', 'RCS2', 'RCS3']
df['delBMI1'] = df['BMI1'] - df['BMI']
df['delBMI2'] = df['BMI2'] - df['BMI']
df['delBMI3'] = df['BMI3'] - df['BMI']

df['delweight1'] = df['weight1'] - df['weight']
df['delweight2'] = df['weight2'] - df['weight']
df['delweight3'] = df['weight3'] - df['weight']

df['delUCS1'] = df['UCS1'] - df['UCS']
df['delUCS2'] = df['UCS2'] - df['UCS']
df['delUCS3'] = df['UCS3'] - df['UCS']

df['delECS1'] = df['ECS1'] - df['ECS']
df['delECS2'] = df['ECS2'] - df['ECS']
df['delECS3'] = df['ECS3'] - df['ECS']

df['delRCS1'] = df['RCS1'] - df['RCS']
df['delRCS2'] = df['RCS2'] - df['RCS']
df['delRCS3'] = df['RCS3'] - df['RCS']

In [17]:
df.head()

,ID,Treatment,Gender,Visit,Age,BMI,weight,Race,Country,UCS,...,delweight3,delUCS1,delUCS2,delUCS3,delECS1,delECS2,delECS3,delRCS1,delRCS2,delRCS3
0,1,A,Male,0,14,28.296901,121.403843,Caucasian,USA,17.189710,...,-35.626737,-3.933703,-6.261494,-8.732289,0.316057,-1.271781,-4.462381,-0.562701,-2.005534,-5.063896
1,2,A,Male,0,17,27.437996,123.189625,Asian,China,15.371139,...,-37.479454,-2.060509,-4.999746,-7.270702,-2.209541,-2.799407,-7.402028,-4.284766,-4.966430,-5.800537
2,3,A,Male,0,14,27.031513,121.944314,Latin American,Brazil,16.438826,...,-36.772465,-3.614057,-7.231496,-6.528457,-3.486566,-4.666462,-6.197926,0.138239,-2.815101,-4.612538
3,4,A,Male,0,17,26.222483,121.478258,African,Cook Islands,16.065062,...,-37.473124,-4.116454,-6.243020,-5.683841,-2.939516,-2.813163,-6.363154,-3.224637,-3.589701,-4.862849
4,5,A,Male,0,18,26.432980,118.610875,Asian,China,17.219120,...,-39.962172,-3.192134,-6.100859,-8.300085,-3.515449,-4.611292,-7.963958,-2.368702,-3.732605,-3.638673

In [18]:
df.to_csv('data_deltas.csv')